.notice-index
  .notice-index__blank
  .notice-index__btn
    =link_to new_notice_path, class: "notice-index__btn--sentence" do
      %i.far.fa-paper-plane
      新規お知らせを作成
  .notice-index__blank
  .notice-index__list
    お知らせ一覧
