.circulation-index
  .circulation-index__blank
  .circulation-index__btn
    =link_to new_circulation_path, class: "circulation-index__btn--sentence" do
      %i.far.fa-paper-plane
      新規回覧を作成
  .circulation-index__blank
  .circulation-index__list
    回覧一覧
