.top
  -# %h1 Tops#index
  -# %p Find me in app/views/tops/index.html.erb
  .upper
    = link_to messages_path do
      .message
        %i.far.fa-envelope
        係内メッセージ
    = link_to circulations_path do
      .circulation
        %i.far.fa-clipboard
        部・課内回覧
  .lower
    = link_to notices_path do
      .notice
        %i.fas.fa-bullhorn
        お知らせ
    = link_to events_path do
      .todo
        %i.far.fa-calendar-alt
        スケジュール
