.events-new
  %h1 予定を変更してください。

  = render 'form'
  .events-new--edit
    = link_to '予定の状況', @event, class: "events-new--edit--btn1"
    \|
    = link_to '戻る', events_path, class: "events-new--edit--btn2"
