// Place all the styles related to the circulations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.circulation-index {
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #f8f8f8;
  &__blank {
    height: 50px;
    width: 100%;
  }
  &__btn {
    height: 50px;
    width: 200px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    &--sentence {
      display: inline-block;
      height: 50px;
      width: 200px;
      align-items: center;
      text-decoration: none;
      line-height: 50px;
      color: #00bfff;
      border: solid 1px blue;
      border-radius: 1.0em;
      font-weight: bold;
      transition: all 0.4s;
      &:hover{
        background-color: blue;
        color: white;
      }  
    }
  }
  &__list {
    text-align: center;
    font-size: 20px;
  }
}
.circulation-new {
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #f8f8f8;
  overflow: scroll;
  &__first {
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
  }
  &__format {
    margin: 0 auto;
    background-color: #ffffff;
    margin-bottom: 100px;
    width: 600px;
    .field {
      margin: 0 auto;
      height: 100px;
      width: 400px;
      padding: 10px 0 10px 0;
      &--label {
        font-size: 18px;
      }
      &--must {
        height: 30px;
        width: 40px;
        border: solid 1px #00bfff;
        border-radius: 0.5em;
        font-size: 15px;
        line-height: 30px;
        color: #00bfff;
        padding: 5px;
      }
      &--form {
        &--title {
          margin-top: 5px;
          height:  50px;
          width: 400px;  
        }
      }
      &--radio {
        &--high {
          font-size: 20px;
          color: red;
          font-weight: bold;
          margin-right: 10px;
        }
        &--midium {
          font-size: 18px;
          font-weight: bold;
          margin-right: 10px;
        }
        &--low {
          font-size: 16px;
        }
      }
    }
    .field-content {
      margin: 0 auto;
      margin-top: 20px;
      height: 500px;
      width: 400px;
      &--label {
        font-size: 18px;
      }
      &--must {
        height: 30px;
        width: 40px;
        border: solid 1px #00bfff;
        border-radius: 0.5em;
        font-size: 15px;
        line-height: 30px;
        color: #00bfff;
        padding: 5px;
      }
      &--form--content {
        margin-top: 5px;
        height:  400px;
        width: 400px;  
      }
    }
    .field-file {
      margin: 0 auto;
      height: 50px;
      width: 400px;
      &--label {
        font-size: 18px;
      }
    }
    .submit {
      margin: 0 auto;
      margin-top: 50px;
      text-align: center;
      height: 100px;
      background-color: #fff;
      &--btn {
        height: 50px;
        width: 100px;
        margin-top: 20px;
        background-color: #00bfff;
        border: solid 1px #00bfff;
        font-size: 20px;
        color: #ffffff;
        border-radius: 1.0em;
        transition: all 0.4s;
        &:hover{
          background-color: #fff;
          color: #00bfff;
        }
      }
    }
  }
}