.header {
  height: 60px;
  width: 100%;
  display: flex;
  padding: 0 60px;
  background-color: #fff;
  &__left--nav {
    line-height: 60px;
    &--sentence {
      text-decoration: none;
      color: #00bfff;
      font-weight: bold;
      font-size: 20px;
    }
  }
  &__right--nav {
    margin-left: auto;
    display: flex;
    list-style: none;
    line-height: 60px;
    &--user {
      margin-right: 25px;
      text-decoration: none;
      font-weight: bold;
      color: white;
      line-height: 32px;
      font-size: 14px;
      transition: all 0.2s;
      padding: 9px 8px;
      background-color: #00bfff;
      border: solid 1px #00bfff;
      border-radius: 0.4em;
      transition: all 0.4s;
      &:hover{
        border-radius: 1.5em;
      }
    }
    &--logout {
      text-decoration: none;
      color: #3CCACE;
      line-height: 32px;
      font-size: 14px;
      transition: all 0.2s;
      padding: 9px 5px;
      background-color: white;
      border: solid 1px #3CCACE;
      border-radius: 0.4em;
      transition: all 0.4s;
      &:hover{
        background-color: #3CCACE;
        color: white;
      }
    }
  }
}