.header
  .header__left--nav
    = link_to root_path, class: "header__left--nav--sentence" do
      %i.far.fa-compass
      CybernetCompass
  %ul.header__right--nav
    %li
      = link_to current_user.name, "#", class: "header__right--nav--user"
    %li
      = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header__right--nav--logout"