.header
  .header__left--nav
    = link_to "#", class: "header__left--nav--sentence" do
      %i.far.fa-compass
      CybernetCompass
  %ul.header__right--nav
    %li
      = link_to "お問い合わせ先", "#", class: "header__right--nav--user"